@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

body {
	background-color: white;
}
* {
	font-size: 100%;
	font-family: "Open Sans", Arial, sans-serif;
}
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
i {
	margin-left: 5px;
	margin-right: 5px;
}
a, a:hover {
	text-decoration: none;
}
#navbar {
	background-color: #39637c;
	border: none;
}
#navbar a {
	color: #ffffff;
}
.responsive-embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div[class^="col-md-"] {
	padding-right:3px;
  	padding-left:3px;
}

.progress {
	background-color: #cdcdcd;
	border-radius: 5px;
	height: 10px;
}


/** BREADCRUMB **/

#breadcrumb-container ol {
	background-color: rgba(255, 255, 255, 0);
	margin-bottom: 0px;
}

.breadcrumb > li + li:before {
    color: #9a9a9a;
    content: ">";
	font-size: 0.85em;
	font-weight: 600;
}

.breadcrumb a {
	color: #9a9a9a;
	font-size: 0.85em;
	font-weight: 600;
}

/** PAGE: All tracks **/

.track-thumbnail {
	background-color: #CCCCCC;
	height: 250px;
	padding: 0px;
	border-radius: 10px;
	position: relative;
	color: #39637c;
	margin-bottom: 20px;
}
.track-thumbnail .hierarchy-title {
	position: absolute;
	top: 6%;
	width: 100%;
	text-align: center;
}
.track-thumbnail .hierarchy-title h3 {
	font-size: 1.5em;
	font-weight: 700;
}
.track-thumbnail .hierarchy-text {
	position: absolute;
	bottom: 6%;
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 1.25em;
}
.track-thumbnail .hierarchy-text a {
	border-style: none;
	border-radius: 25px;
	width: 50%;
	font-size: 1.1em;
	margin-top: 10px;
}
.track-thumbnail .hierarchy-text a.start {
	color: #39637c;
	background-color: white;
	font-weight: 600;
}

/** PAGE: Track **/

#track-info #track-title {
	color: #39637c;
	text-transform: uppercase;
	font-weight: 700;
	margin: 20px auto 30px;
	padding: 0 10px;
	font-size: 1.5em;
}
#track-info #track-description {
	color: #464646;
	margin: 20px 50px;
	font-weight: 400;
	font-size: 0.8em;
}
/** PAGE: Track -> Track's validation button **/
a.btn-validate-track {
	padding: 20px;
	display: block;
	color: white;
	background-color: #bce520;
	border-radius: 5px;
	margin-bottom: 5px;
}
a.btn-validate-track.disabled {
	opacity: 1.00;
}
a.btn-validate-track img.certificate-validated {
	height:40px;
	margin-right: 20px;
}
a.btn-validate-track img.certificate-locked {
	height:40px;
	margin-right: 20px;
}
a.btn-validate-track img.lock {
	height:20px;
	margin-left: 20px;
}
a.btn-validate-track img.check {
	height:20px;
	margin-left: 20px;
}
a.btn-validate-track.validate-disabled {
	color: #818181;
	background-color: #cdcdcd;
	font-size: 1.25em;
}
a.btn-validate-track.validate-disabled img.certificate-validated {
	display: none;
}
a.btn-validate-track.validate-disabled img.check {
	display: none;
}
a.btn-validate-track.validate-allowed {
	color: #ffffff;
	background-color: #bce520;
	font-size: 1.25em;
}
a.btn-validate-track.validate-allowed img.certificate-locked {
	display: none;
}
a.btn-validate-track.validate-allowed img.lock {
	display: none;
}
a.btn-validate-track.validate-allowed img.check {
	display: none;
}
a.btn-validate-track.validated {
	color: #ffffff;
	background-color: #f8d041;
	font-size: 1.25em;
}
a.btn-validate-track.validated img.certificate-locked {
	display: none;
}
a.btn-validate-track.validated img.lock {
	display: none;
}

/** PAGE: Track -> Track's skill list **/
#track-outline {
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
}
#track-outline a.media {
	margin: 0;
	padding: 25px 30px;
	display: block;
	position: relative;
	border: 1px #ececec solid;
	border-left-width: 0;
	border-right-width: 0;
}
#track-outline a.media .media-body {
	padding: 10px;
	vertical-align: middle;
}
#track-outline a.media .media-heading {
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 1.0em;
	font-weight: 600;
	color: #252525;
}
#track-outline a.media .media-heading img.check {
	display: none;
	height: 20px;
	margin-left: 20px;
}
#track-outline a.media .media-heading.validated img.check {
	display: inline;
}
#track-outline a.media .progress .progress-bar {
	background-color: #bce520;
}
#track-outline a.media .progress .progress-bar.validated {
	background-color: #f8d041;
}
#track-outline a.media .media-text {
	font-size: .85em;
	color: #737373;
}
#track-outline a.media:hover {
	background-color: #39637c;
	color: white;
}
#track-outline a.media:hover .media-heading {
	color: #EEEEEE;
}
#track-outline a.media:hover .media-text {
	color: #DDDDDD;
}

/** PAGE: Skill **/

#skill-info {
	border-radius: 5px;
}
#skill-info .panel {
	min-height: 75vh;
	border: none;
	background-color: #39637c;
}
#skill-info .panel-heading .panel-title {
	color: white;
	font-size: 0.85em;
	font-weight: 600;
	border-bottom: 1px solid white;
	padding: 10px;
	text-align: left;
}
#skill-info .panel-heading .panel-title img {
	height:12px;
	padding-bottom: 2px;
	margin: 0px 10px 0px 0px;
}
#skill-info .panel-body {
	background-color: #39637c;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
#skill-info #skill-title {
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 30px;
	font-size: 1.12em;
}
#skill-info img {
	margin: 30px auto 30px auto;
}
#skill-info .progress {
	background-color: #cdcdcd;
	margin-bottom: 30px;
}
#skill-info .progress .progress-bar {
	background-color: #bce520;
}
#skill-info .progress .progress-bar.validated {
	background-color: #f8d041;
}
#skill-info #skill-description {
	color: white;
	font-size: 0.75em;
}
/** PAGE: Skill -> Skill's validation button **/
a.btn-validate-skill {
	padding: 20px;
	display: block;
	color: white;
	background-color: #bce520;
	border-radius: 5px;
	margin-bottom: 5px;
}
a.btn-validate-skill.disabled {
	opacity: 1.00;
}
a.btn-validate-skill img.certificate {
	height:40px;
	margin-right: 40px;
}
a.btn-validate-skill img.check {
	height:20px;
	margin-left: 20px;
}
a.btn-validate-skill.validate-allowed {
	color: #ffffff;
	background-color: #bce520;
	font-size: 1.25em;
}
a.btn-validate-skill.validate-allowed img.check {
	display: none;
}
a.btn-validate-skill.validated {
	color: #ffffff;
	background-color: #f8d041;
	font-size: 1.25em;
}

/** PAGE: Skill -> skill's resources **/
#skill-outline {
	background-color: white;
	border-radius: 5px;
	border: none;
	padding-top: 20px;
	padding-bottom: 20px;
}
#skill-outline .lesson {
	padding-left: 5%;
}
#skill-outline .lesson div[class^="col-md-"] {
	padding-right:20px;
  	padding-left:20px;
}
#skill-outline .lesson .lesson-title {
	font-size: 1em;
	font-weight: 600;
	margin-bottom: 25px;
	color: #252525;
}
#skill-outline .lesson .lesson-description {
	font-size: .75em;
	color: #737373;
}
#skill-outline .lesson div.lesson-outline[class^="col-md-"] {
	padding-right:0px;
}
#skill-outline .lesson .lesson-outline a:hover {
	background-color: #ececec;
}
#skill-outline .lesson .lesson-outline .media {
	margin: 0;
	padding: 15px 10px 15px 25px;
	display: block;
	position: relative;
}
#skill-outline .lesson .lesson-outline .media .media-body {
	padding: 0;
	vertical-align: middle;
}
#skill-outline .lesson .lesson-outline .media .media-heading {
	font-size: 1em;
	font-weight: 600;
	color: #252525;
}

/** PAGE: Resource **/

#resource-skill-outline {
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
	border: none;
}
#resource-skill-outline .panel {
	margin: 0;
	border: none;
	border-radius: 0;
}
#resource-skill-outline .panel .panel-heading {
	background-color: transparent;
}
#resource-skill-outline .panel .panel-heading h4 {
	text-align: center;
}
#resource-skill-outline .panel .panel-heading h4 a {
	color: #39637c;
	font-weight: 600;
}
#resource-skill-outline .panel .lesson-outline a.media {
	border: none;
	border-radius: 0;
	margin: 0;
	padding-left: 50px;
}
#resource-skill-outline .panel .lesson-outline a.media .media-body {
	padding: 10px;
	vertical-align: middle;
}
#resource-skill-outline .panel .lesson-outline a.media.active {
	background-color: #e0e0e0;
	color: inherit;
}

#resource {
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
	padding-bottom: 50px;
	min-height: 80vh;
}
#resource-inner-box {
	margin-left: auto;
	margin-right: auto;
	float: none;
}