




/** PAGE: Resource **/

#resource-skill-title {
	background-color: #39637c;
	border-bottom: 1px solid white;
}
#resource-skill-title .panel-title {
	color: white;
	font-size: 0.85em;
	font-weight: 600;
	padding: 10px;
	text-align: left;
}
#resource-skill-title .panel-title img {
	height:12px;
	padding-bottom: 2px;
	margin: 0px 10px 0px 0px;
}
#resource-skill-outline {
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
	border: none;
}
#resource-skill-outline .panel {
	margin: 0;
	border: none;
	border-radius: 0;
}
#resource-skill-outline .panel-heading {
	background-color: white;
	text-align: center;
	padding: 10px 10px 15px 10px;
}
#resource-skill-outline .panel-heading h4 {
	color: #39627c;
	font-size: 1.0em;
	font-weight: 600;
}
#resource-skill-outline .panel-heading img {
	height:24px;
	padding-bottom: 2px;
	margin: 0px 10px 0px 0px;
	position: absolute;
	left: 20px;
}
#resource-skill-outline .panel-heading a:focus {
	outline:none;
}
#resource-skill-outline .panel-heading a[aria-expanded="true"] img {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -webkit-transition: webkit-transform 300ms;
    transform: rotate(90deg);
    transition: transform 300ms;
}
#resource-skill-outline .panel-heading a[aria-expanded="false"] img {
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    -webkit-transition: webkit-transform 300ms;
    transform: rotate(0deg);
    transition: transform 300ms;
}
#resource-skill-outline .panel .lesson-outline.list-group {
	border-bottom: 1px solid #DDD;
}
#resource-skill-outline .panel .lesson-outline a.media {
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 10px 10px 10px 50px;
}
#resource-skill-outline .panel .lesson-outline a.media.active {
	background-color: #e0e0e0;
	color: inherit;
}
#resource-skill-outline .panel .lesson-outline a.media img {
	width: 42px;
	height: 42px;
	margin-right: 5px;
}
#resource-skill-outline .panel .lesson-outline a.media .media-body {
	padding: 10px;
	vertical-align: middle;
}
#resource-skill-outline .panel .lesson-outline a.media .media-body .media-heading {
	font-size: 1.0em;
	font-weight: 400;
	color: #252525;
}

#resource {
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 50px;
	min-height: 80vh;
}
#resource-inner-box {
	margin-left: auto;
	margin-right: auto;
	float: none;
}
#resource-inner-box h1 {
	font-size: 1.25em;
	font-weight: 700;
	color: #1caff6;
	margin-bottom: 30px;
}
#resource-inner-box p {
	margin: 30px 0px 30px 0px;
	font-size: 0.85em;
	font-weight: 400;
	color: #252525;
}
#resource-audio-player audio{
	display: block;
	width: 100%;
}
#resource-audio-player img{
	display: block;
	width: 100%;
	margin-bottom: 0px;
}
#resource-download-link {
	display: block;
	margin: 50px 40px 50px 40px;
	padding: 20px;
	text-align: center;
	color: white;
	background-color: #1caff6;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	font-size: 1.25em;
}
#resource-download-link img.download-arrow {
	height:30px;
	margin-right: 20px;
}
#resource-exercise-button {
	display: block;
	margin: 50px 40px 50px 40px;
	padding: 20px;
	text-align: center;
	color: white;
	background-color: #bce520;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	font-size: 1.25em;
}
#resource-exercise-button img.quill {
	height:30px;
	margin-right: 20px;
}

#resource-inner-box hr {
	border-width: 2px;
}

/** MODAL: Exercise Attempt **/

.modal-content-exercise-attempt .modal-title {
	color: #252525;
	font-size: 1.25em;
	font-weight: 700;
}
.modal-content-exercise-attempt .modal-title img {
	width: 32px;
	height: 32px;
	margin-right: 20px;
}
.modal-content-exercise-attempt .exercise-attempt-progress {
	background-color: #efefef;
	color: #1caff6;
	border-radius: 10px;
	height: 20px;
}
.exercise-attempt-question p.exercise-question-title {
	color: #252525;
	font-size: 1.5em;
	font-weight: 600;
}
.exercise-attempt-question .help-block {
	color: #cdcdcd;
	font-size: 0.95em;
	font-weight: 400;
	font-style: italic;
}
.exercise-attempt-form button, .exercise-attempt-footer button, .exercise-attempt-form button:hover, .exercise-attempt-footer button:hover {
	height: 40px;
	border: none;
	border-radius: 20px;
	padding-right: 40px;
	padding-left: 40px;
	color: white;
	font-size: 1.0em;
	font-weight: 400;
	background-color: #bce520;
}
.exercise-attempt-form button.disabled {
	background-color: #cdcdcd;
}
.exercise-attempt-question-answer-feedback li.proposition_selected {
	color: red;
}
.exercise-attempt-question-answer-feedback li.proposition_correct {
	color: #94c500;
	background-color: rgba(148, 197, 0, 0.2);
}
.exercise-attempt-question-answer-feedback li img.right-answer {
	display: none;
	display: none;
	padding: 2px;
	height: 10px;
	width: 10px;
	background-color: rgba(148, 197, 0, 1);
	margin-right: 20px;
}
.exercise-attempt-question-answer-feedback li img.wrong-answer {
	display: none;
	padding: 2px;
	height: 10px;
	width: 10px;
	background-color: rgba(255, 0, 0, 1);
	margin-right: 20px;
}
.exercise-attempt-question-answer-feedback li.proposition_selected.proposition_correct img.right-answer {
	display: inline;
}
.exercise-attempt-question-answer-feedback li.proposition_selected:not(.proposition_correct) img.wrong-answer {
	display: inline;
}
