@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

body {
  background-color: #ececec;
  background-image: url('../../assets/images/city.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  background-attachment: fixed;
  height:100%;
}

* {
  font-size: 100%;
  font-family: "Open Sans", Arial, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

a, a:hover {
  text-decoration: none;
}

#body-container {
  min-height: 100vh;
  position: relative;
}

#navbar {
  background-color: white;
  border: none;
  margin: 0 auto;
  font-weight: 600;
  a {
    text-decoration: none;
    color: #272727;
    &.focus {
      border-bottom: 2px solid #E44D3A;
    }
    img {
      height: 100%;
    }
  }
  a:hover {
    text-decoration: none;
    background-color: transparent;
  }
  .navbar-brand {
    padding: 10px 10px;
  }
  .dropdown-menu {

    border : none;
    > li > a {
      font-weight: 600;
    }
  }
}

.responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.col-lg-1.thin-gutter, .col-lg-10.thin-gutter, .col-lg-11.thin-gutter, .col-lg-12.thin-gutter, .col-lg-2.thin-gutter, .col-lg-3.thin-gutter, .col-lg-4.thin-gutter, .col-lg-5.thin-gutter, .col-lg-6.thin-gutter, .col-lg-7.thin-gutter, .col-lg-8.thin-gutter, .col-lg-9.thin-gutter,
.col-md-1.thin-gutter, .col-md-10.thin-gutter, .col-md-11.thin-gutter, .col-md-12.thin-gutter, .col-md-2.thin-gutter, .col-md-3.thin-gutter, .col-md-4.thin-gutter, .col-md-5.thin-gutter, .col-md-6.thin-gutter, .col-md-7.thin-gutter, .col-md-8.thin-gutter, .col-md-9.thin-gutter,
.col-sm-1.thin-gutter, .col-sm-10.thin-gutter, .col-sm-11.thin-gutter, .col-sm-12.thin-gutter, .col-sm-2.thin-gutter, .col-sm-3.thin-gutter, .col-sm-4.thin-gutter, .col-sm-5.thin-gutter, .col-sm-6.thin-gutter, .col-sm-7.thin-gutter, .col-sm-8.thin-gutter, .col-sm-9.thin-gutter,
.col-xs-1.thin-gutter, .col-xs-10.thin-gutter, .col-xs-11.thin-gutter, .col-xs-12.thin-gutter, .col-xs-2.thin-gutter, .col-xs-3.thin-gutter, .col-xs-4.thin-gutter, .col-xs-5.thin-gutter, .col-xs-6.thin-gutter, .col-xs-7.thin-gutter, .col-xs-8.thin-gutter, .col-xs-9.thin-gutter {
  padding-right: 3px;
  padding-left: 3px;
}

.progress {
  background-color: #cdcdcd;
  border-radius: 5px;
  height: 10px;
}

.btn-validate-track, .btn-validate-skill {
  /*display: block;*/
  display: none; /* FIXME: we remove every element linked to user's progress bar until we have implemented proper user progress */
}

.panel {
  border: 0;
}

.popover {
  max-width: 40%;
}

.popover-content {
  font-size: .8em;
}

#container {
  padding-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #F3F3F3;
  .container{
    height: 100%;
    padding: 10px;
    img {
      height: 100%;
      margin: auto 20px;
    }
  }
}

/** BREADCRUMB **/

ol.breadcrumb {
  background-color: transparent;
  margin-bottom: 10px;

  li + li:before {
    color: #9a9a9a;
    content: ">";
    font-size: 0.85em;
    font-weight: 600;
  }

  li.active, li a {
    color: #9a9a9a;
    font-size: 0.85em;
    font-weight: 600;
  }

}
