@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

html, body {
    height: 100%;
    width: 100%;
}

#layout {
    height: 100%;
    width: 100%;
    display: table;

    #header {
        display: table-row;
        height: 50px;
    }

    #footer {
        display: table-row;
        height: 1px;
    }

    #main-container {
        display: table-row;
        height: auto;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-image: url('../../assets/images/city.png');
        background-attachment: scroll;

        #home {
            background-color: #fff;
        }

        #main {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

.col-lg-0, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-0, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-0, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-0, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    .row.no-gutter > & {
        padding-left: 0;
        padding-right: 0;
    }
    .row.gutter-xs > & {
        padding-left: 3px;
        padding-right: 3px;
    }
    .row.gutter-sm > & {
        padding-left: 8px;
        padding-right: 8px;
    }
}

// This class makes the navbars collapse when screen-size == sm (not only xs like in Bootstrap))
.collapse-sm {
    @media (max-width: 991px) {
        .navbar-header {
            float: none;
        }

        .navbar-toggle {
            display: block;
        }

        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }

        .navbar-collapse.collapse {
            display: none !important;
        }

        .navbar-nav {
            float: none !important;
            margin: 7.5px -15px;
        }

        .navbar-nav > li {
            float: none;
        }

        .navbar-nav > li > a {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .navbar-text {
            float: none;
            margin: 15px 0;
        }

        /* since 3.1.0 */
        .navbar-collapse.collapse.in {
            display: block !important;
        }

        .collapsing {
            overflow: hidden !important;
        }
    }
}

.col-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.stackable {
    margin-bottom: 20px; // Useful when stacked
}

.progress {
    border-radius: 5px;
    height: 10px;
}

.panel {
    border-width: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .panel-group .panel {
        border-radius: 0;
        .panel-heading,
        .panel-body,
        .panel-footer,
        .list-group,
        .list-group .list-group-item {
            border-radius: 0;
        }
        & + .panel {
            margin-top: 0;
        }

    }
}

.modal {
    .modal-content {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        .close {
            color: #ffffff;
            line-height: 25px;
            position: absolute;
            right: -8px;
            text-align: center;
            top: -7px;
            width: 24px;
            opacity: 1;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000000;
            -webkit-box-shadow: 1px 1px 3px #000000;
            box-shadow: 1px 1px 3px #000000;
            background: #000000;
            &:hover, &:focus {
                background: #454545;
                color: #ffffff;
            }
        }
        .modal-header, .modal-body, .modal-footer {
            padding-left: 30px;
            padding-right: 30px;
        }
        .modal-header {
            padding-bottom: 0;
        }
        .modal-footer {
            padding-top: 0;
        }
    }
}

.modal-xl {
    @media (min-width: 992px) {
        width: 900px;
    }
    @media (min-width: 1200px) {
        width: 1100px;
    }
}

/** BREADCRUMB **/

ol.breadcrumb {
    margin-bottom: 10px;
    font-size: 0.85em;
    font-weight: 600;

    li a {
        color: #9a9a9a;
    }
}

@border-radius-md: 12px;
@border-radius-lg: 25px;
.border-radius {
    &-md {
        -webkit-border-radius: @border-radius-md;
        -moz-border-radius: @border-radius-md;
        border-radius: @border-radius-md;
        &.panel {
            .panel-heading {
                border-top-left-radius: @border-radius-md;
                border-top-right-radius: @border-radius-md;
            }
            .panel-footer {
                border-bottom-left-radius: @border-radius-md;
                border-bottom-right-radius: @border-radius-md;
            }
        }
    }
    &-lg {
        -webkit-border-radius: @border-radius-lg;
        -moz-border-radius: @border-radius-lg;
        border-radius: @border-radius-lg;
        &.panel {
            .panel-heading {
                border-top-left-radius: @border-radius-lg;
                border-top-right-radius: @border-radius-lg;
            }
            .panel-footer {
                border-bottom-left-radius: @border-radius-lg;
                border-bottom-right-radius: @border-radius-lg;
            }
        }
    }
}

.golden-effect {
    background-image: url("../../assets/images/gold_effect.png");
    background-size: 100% 100%;
    box-shadow: inset 0 -2px 1px #E4B640,
    inset 2px 0 1px #F9DD6F,
    inset 0 2px 1px #FBE979,
        inset -2px 0 1px #F1DE82;
}

.btn {
    border-width: 0;
    &-bordered {
        border: 3px solid #1caff5;
        background-color: #fff;
        color: #1caff5;
    }
    &:active, &:focus {
        outline: none;
    }
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn,
.btn.disabled:hover, .btn[disabled]:hover, fieldset[disabled] .btn:hover {
    background-color: #888;
    opacity: 1.0;
}

.input-group-btn .btn {
    border-width: 1px;
}

.form-control {
    border-width: 2px;
}

.badge-lg {
    padding: 6px 7px;
    border-radius: 25px;
}

.badge-info {
    background-color: #f6d01c;
}

.checkbox-green-tick {
    /* Base for label styling */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        opacity: 0.0;
        margin-left: 0;
        width: 20px;
        height: 20px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 20px;
        height: 20px;
        border: 2px solid #9bbe16;
        background: white;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
        content: '✔';
        position: absolute;
        top: -2px;
        left: 10px;
        font-size: 14px;
        color: #9bbe16;
        transition: all .2s;
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(2);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked + label:after {
        color: #999;
    }
    [type="checkbox"]:disabled + label {
        color: #aaa;
    }
    /* accessibility */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before {
        border-color: #66afe9;
    }
    /* error */
    .has-error & [type="checkbox"]:checked + label:before,
    .has-error & [type="checkbox"]:not(:checked) + label:before {
        border-color: #e74c3c;
    }
    .has-error & [type="checkbox"]:checked + label:after,
    .has-error & [type="checkbox"]:not(:checked) + label:after {
        color: #e74c3c;
    }
}

.glyphicon-status {
    &:before {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        line-height: 25px;
        text-align: center;
        color: white;
    }
    &-primary:before {
        background-color: #1caff5;
    }
    &-success:before {
        background-color: #bce520;
    }
    &-info:before {
        background-color: #f6d01c;
    }
    &-warning:before {
        background-color: #f0ad4e;
    }
    &-danger:before {
        background-color: #e74c3c;
    }
    &-bordered:before {
        background-color: #fff;
        border: 2px solid #1caff5;
        line-height: 21px;
        color: #1caff5;
    }
}