#home-content {

  .btn-user-action {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #first-window {
    min-height:720px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url('../../assets/images/bsf_home_image.jpg');
    background-attachment: scroll;

    #greeting {
      margin: 150px auto;
      font-weight: bold;
    }

    .home-msg-welcome {
      h4 {
        font-weight: 600;
        text-align: center;
        font-size: 1.5em;
        font-style: italic;
      }
    }

    .btn-register {
      background-color: rgba(255,255,255,0.2);
      border: 1px solid white;
      color: white;
      &:hover {
        background-color: #42befa;
        border-color: #42befa;
      }
    }

    #scroll-arrow {
      display: block;
      margin: 20px auto;
      width: 64px; height: 64px;
      border-radius: 32px;
      background-color: #eee;
      background-color: rgba(255, 255, 255, 0.2);

      .glyphicon {
        color: white;
        font-size: 32px;
        line-height: 64px;
      }
    }

  }

  #second-window {
    min-height: 720px;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('../../assets/images/city.png');
    background-attachment: scroll;

    #second-greeting {
      margin: 100px auto 50px;
      font-weight: bold;
    }
  }

  #third-window{
    min-height: 720px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../assets/images/bsf_home_image_3.jpg');
    background-attachment: scroll;
  }

}
