#punch-line {
  background-color: #39637c;
  text-align: center;
  color: white;
  padding: 20px 60px;
  h1 {
    margin: 0;
  }
}

#home-content {
  padding: 60px 10px;
  #home-image img {
    width: 100%;
  }
  #home-text-group {
    text-align: justify;
    margin-bottom: 30px;
  }
  #home-btn-group {
    text-align: center;
  }
  #home-login-btn {
    color: white;
    background-color: #1caef7;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    width: 75%;
    font-size: 1.3em;
    margin: 10px auto;
    padding: 10px;
  }
  #home-register-btn {
    color: #39637c;
    background-color: white;
    font-weight: 600;
    border: 2px solid #1caef7;
    border-radius: 25px;
    width: 75%;
    font-size: 1.3em;
    margin: 10px auto;
    padding: 10px;
  }
}