.resource-detail {

    #skill-nav {

        #resource-skill-title, #back-to-resource-title {

            background-color: #39637c;
            border-bottom: 1px solid white;

            .back-to-skill-link, .back-to-main-resource-link {
                display: block;

                .panel-title {
                    color: white;
                    font-size: 0.85em;
                    padding: 10px;
                }
            }

        }

        #resource-skill-outline {

            #resource-hierarchy-accordion {

                .panel {

                    .panel-heading {

                        background-color: transparent;

                        a {

                            h4 {
                                color: #39627c;
                                font-size: 1.0em;
                                padding-left: 30px;

                                &:before {
                                    content: '>';
                                    color: #39627c;
                                    font-weight: bold;
                                    margin-left: -30px;
                                    border: 2px solid #39627c;
                                    height: 20px;
                                    width: 20px;
                                    display: inline-block;
                                    line-height: 16px;
                                    border-radius: 10px;
                                    text-align: center;
                                    transition: all 300ms;
                                }

                                span.lesson-title {
                                    display: inline-block;
                                    width: 100%;
                                    padding: 0 10px;
                                }
                            }

                            &[aria-expanded=true] {
                                h4:before {
                                    -webkit-transform: rotate(90deg);
                                    -moz-transform: rotate(90deg);
                                    -ms-transform: rotate(90deg);
                                    -o-transform: rotate(90deg);
                                    transform: rotate(90deg);
                                }
                            }

                        }

                        img {
                            height: 24px;
                            padding-bottom: 2px;
                            margin: 0 10px 0 0;
                            position: absolute;
                            left: 20px;
                        }

                        a:focus {
                            outline: none;
                        }

                        a[aria-expanded="true"] img {
                            -ms-transform: rotate(90deg);
                            -webkit-transform: rotate(90deg);
                            -webkit-transition: webkit-transform 300ms;
                            transform: rotate(90deg);
                            transition: transform 300ms;
                        }

                        a[aria-expanded="false"] img {
                            -ms-transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -webkit-transition: webkit-transform 300ms;
                            transform: rotate(0deg);
                            transition: transform 300ms;
                        }

                    }

                    .lesson-outline {

                        border-bottom: 1px solid #DDD;

                        .active {
                            background-color: #e0e0e0;
                        }

                    }

                }
            }

        }

    }

    #resource {

        .panel-heading, .panel-body, .panel-footer {
            padding-left: 80px;
            padding-right: 80px;
        }

        .panel-heading {
            padding-top: 20px;
            padding-bottom: 20px;
            .panel-title {
                font-size: 1.25em;
                font-weight: bold;
                color: #1caff6;
            }
        }

        .panel-body {
            p {
                font-size: 0.85em;
            }
            padding-bottom: 80px;
        }

        .panel-footer {
            background-color: #fff;
            h2 {
                font-size: 1.2em;
            }
        }

        .resource-audio-player {
            audio {
                display: block;
                width: 100%;
            }
        }
        .btn-resource-download-link {

            margin-top: 50px;
            margin-bottom: 50px;
            padding: 20px;
            font-size: 1.25em;

            img.download-arrow {
                height: 30px;
                margin-right: 20px;
            }

        }

        .btn-start-exercise {
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 20px;
            font-size: 1.25em;

            img.quill {
                height: 40px;
                margin-right: 20px;
            }
        }

    }

    .lesson-outline, #additional-resources {

        a.media {

            border: none;
            border-radius: 0;
            margin: 0;
            padding-left: 50px;

            img {
                width: 42px;
                height: 42px;
                margin-right: 5px;
            }

            .media-body {
                padding: 10px;
                vertical-align: middle;

                .media-heading {
                    font-size: 1.0em;
                    font-weight: 400;
                    color: #252525;
                }
            }

        }

    }

}
