#resource-panel {

    .panel-heading, .panel-body, .panel-footer {
        padding-left: 80px;
        padding-right: 80px;
    }

    .panel-heading {
        padding-top: 20px;
        padding-bottom: 20px;
        .panel-title {
            font-size: 1.25em;
            font-weight: bold;
            color: #1caff6;
        }
    }

    .panel-body {
        p {
            font-size: 0.85em;
            white-space: pre-line;
            text-align: justify;
        }
        padding-bottom: 80px;
    }

    .panel-footer {
        background-color: #fff;
        h2 {
            font-size: 1.2em;
        }
    }

    .resource-audio-player {
        audio {
            display: block;
            width: 100%;
        }
    }

    .video-js {
        padding-top: 56.25%;
    }
    .vjs-fullscreen {
        padding-top: 0;
    }

    .btn-resource-download-link {

        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px;
        font-size: 1.25em;

        img.download-arrow {
            height: 30px;
            margin-right: 20px;
        }

    }

    .btn-start-exercise {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px;
        font-size: 1.25em;

        img.quill {
            height: 40px;
            margin-right: 20px;
        }
    }

}

#back-to-resource-title {

    background-color: #39637c;
    border-bottom: 1px solid white;

    .back-to-main-resource-link {
        display: block;

        .panel-title {
            color: white;
            font-size: 0.85em;
            padding: 10px;
        }
    }

}