#user-profile-dashboard-container {

    .panel-heading {
        background-color: transparent;
    }

}

#dashboard-details, #student-dashboard-details {
    padding-left: 0;
    padding-right: 0;

    #dashboard-tracks-md-lg {

        .media.track {

            display: block;
            margin: 0;
            padding-top: 20px;
            padding-bottom: 20px;

            .track-icon {
                padding: 0;
                .track-icon-wrapper {
                    width: 100px;
                    max-height: 100px;
                    img {
                        padding: 0 20px;
                    }
                }
            }
            .media-body {

                .media-heading {
                    color: #252525;
                    font-size: 1.2em;
                }

                p {
                    font-style: italic;
                    visibility: hidden;
                }
            }

            &:hover {
                background-color: #e5e5e5;
                .media-body p {
                    color: #fff;
                    visibility: visible;
                }
            }

            &.active {
                background-color: #e0e0e0;
                .media-body p {
                    color: #252525;
                    visibility: visible;
                }
            }
        }
    }

    #dashboard-tracks-xs-sm {



    }

    #dashboard-track-skills {

        .panel.skill-resources-block {

            .skill.panel-heading {
                background-color: transparent;
                padding: 0;

                .media {
                    display: block;
                    margin: 0;
                    padding: 15px;

                    .skill-icon {
                        padding: 0;
                        .skill-icon-wrapper {
                            width: 100px;
                            max-height: 100px;
                        }
                    }

                    .media-body {
                        padding: 10px;
                        vertical-align: middle;

                        .media-heading {
                            color: #252525;
                            font-size: 1.1em;
                        }

                        p {
                            font-style: italic;
                            color: #a5a5a5;
                        }
                    }

                }

                &:hover {
                    background-color: #e5e5e5;
                }

            }

            .list-group.dashboard-skill-resources {
                .list-group-item {
                    padding-left: 80px;

                    .media-body {
                        .media-heading {
                            font-size: 1em;
                        }
                        p {
                            font-style: italic;
                            color: #a5a5a5;
                            margin: 0 0 5px
                        }
                    }
                }
            }

        }

    }

}