#user-profile-tutoring-container {
    .panel-heading {
        background-color: transparent;
    }

    .panel-body {

        h3 {
            color: #5e5e5e;
            font-size: 1.2em;
            padding: 10px 0;
        }

        .btn-action-icon {
            margin-right: 10px;
        }

        .pending-request {
            font-size: .8em;
            font-style: italic;
            color: #aaa;
            text-transform: lowercase;
        }

        #student-dashboard-details {
            margin-top: 30px;
        }

    }
}
