<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#/" class="navbar-brand"><img src="<%= config.imagesDict.logo_bsf_campus %>"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav pull-right">
				<li><a href="#/" id="navbar-home-btn"><%= config.stringsDict.HEADER.HOME_PAGE %></a></li>
				<li><a href="#/track" id="navbar-tracks-btn"><%= config.stringsDict.HEADER.ALL_TRACKS %></a></li>
				<% if (currentUser.id == null) { %>
                <li><a href="#/login" id="navbar-login-btn"><%= config.stringsDict.HEADER.LOGIN %></a></li>
				<% } else { %>
                <li class="dropdown">
                    <a href="#"  id="navbar-user-btn" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= currentUser.full_name %> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="navbar-user-btn">
                        <li><a href="#/user/profile"><%= config.stringsDict.HEADER.USER %></a></li>
                        <li><a href="#/logout"><%= config.stringsDict.HEADER.LOG_OUT %></a></li>
                    </ul>
                </li>
                <% if (currentUser.awaiting_tutor_requests.length > 0 || currentUser.awaiting_student_requests.length > 0) { %>
                <li class="dropdown dropdown-notifications">
                    <a href="#"  id="navbar-notifications-btn" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img class="notification-icon" src="<%= config.imagesDict.bell %>">
                        <img class="notification-icon-open" src="<%= config.imagesDict.bellRed %>">
                        <div class="notification-count"><%= (currentUser.awaiting_tutor_requests.length + currentUser.awaiting_student_requests.length) %></div>
                    </a>
                    <ul id="notifications-list" class="dropdown-menu" role="menu" aria-labelledby="navbar-notifications-btn">
                        Loading notifications...
                    </ul>
                </li>
                <% } %>
				<% } %>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>