.modal-content-exercise-attempt.track-validation {

  border: solid 2px #f7d63b;
  //-moz-box-shadow: 0 0 5px #44f6d01c;
  //-webkit-box-shadow: 0 0 5px #44f6d01c;
  //box-shadow: 0 0 5px #44f6d01c;

  .modal-header {
    .modal-title.track-validation {
      color: #888888;
    }
  }

  .exercise-attempt-progress.track-validation {
    .progress-bar {
      background-color: #F7D01D;
    }
  }

  .exercise-recap.track-validation {
    .recap-header {
      margin: 40px auto;
      text-align: center;

      h1 {
        font-size: 2.0em;
        font-weight: 600;
      }
      
      #track-recap-icons {
        img {
          margin: 20px auto;
          height: 120px;
        }
      }
    }

    .recap-details {
      margin: auto 60px;
    }
  }

  .exercise-attempt-footer {
    button.track-validation {
      &, &:hover {
        background-color: #BCE421;
      }
    }
  }
}