.panel-static-page {
    background-color: #ebebeb;
    background-color: rgba(235, 235, 235, .75);
    .panel-heading {
        background-color: transparent;
        .panel-title {
            font-size: 36px;
        }
    }
}