#footer {
    background-color: #F3F3F3;

    .container{
        padding: 20px 0 10px;
        h4 {
            font-size: 1em;
        }
        img {
            height: 100%;
            margin: 10px 30px;
        }
        ul {
            list-style-type: none;
            text-align: center;
            padding: 0;
        }

        #footer-program-by, #footer-supported-by {
            img {
                width: 75%;
            }
        }

        #footer-community {
            img {
                height: 32px;
            }
        }

        @media (max-width: 768px) {
            padding: 20px;

            #footer-program-by {
                margin-bottom: 30px;
            }

            #footer-supported-by {
                margin-bottom: 50px;
            }

            img {
                margin: 10px 20px;
            }

        }
    }
}
