<div class="container">
    <div class="row">
        <div id="footer-program-by" class="col-xs-6 col-sm-3">
            <h4 class="text-center"><%= config.stringsDict.FOOTER.A_PROGRAM_BY %></h4>
            <div class="row">
                <a target="_blank" href="http://www.bibliosansfrontieres.org/" class="col-xs-10 col-xs-offset-1">
                    <img src="<%= config.imagesDict.logo_bsf %>" class="img-responsive">
                </a>
            </div>
        </div>
        <div id="footer-supported-by" class="col-xs-6 col-sm-3">
            <h4 class="text-center"><%= config.stringsDict.FOOTER.SUPPORTED_BY %></h4>
            <div class="row">
                <a target="_blank" href="http://www.gatesfoundation.org/fr" class="col-xs-10 col-xs-offset-1">
                    <img src="<%= config.imagesDict.logo_gates_foundation %>" class="img-responsive">
                </a>
            </div>
        </div>
        <div id="footer-static-pages-link-list" class="col-xs-6 col-sm-3">
            <h4 class="text-center"><%= config.stringsDict.FOOTER.QUICK_ACCESS %></h4>
            <ul class="col-sm-10 col-sm-offset-1"></ul>
        </div>
    </div>
</div>