<div class="container">
    <div class="row">
        <div id="footer-program-by" class="col-xs-6 col-sm-3">
            <h4 class="text-center"><%= config.stringsDict.FOOTER.A_PROGRAM_BY %></h4>
            <div class="row">
                <a target="_blank" href="http://www.bibliosansfrontieres.org/" class="col-md-8 col-md-offset-2">
                    <img src="<%= config.imagesDict.logo_bsf %>" class="img-responsive">
                </a>
            </div>
        </div>
        <div id="footer-supported-by" class="col-xs-6 col-sm-3">
            <h4 class="text-center"><%= config.stringsDict.FOOTER.SUPPORTED_BY %></h4>
            <div class="row">
                <a target="_blank" href="http://www.gatesfoundation.org/fr" class="col-md-8 col-md-offset-2">
                    <img src="<%= config.imagesDict.logo_gates_foundation %>" class="img-responsive">
                </a>
            </div>
        </div>
        <div id="footer-static-pages-link-list" class="col-xs-6 col-sm-3">
            <h4 class="text-center"><%= config.stringsDict.FOOTER.QUICK_ACCESS %></h4>
            <ul></ul>
        </div>
        <div id="footer-community" class="col-xs-6 col-sm-3">
            <h4 class="text-center"><%= config.stringsDict.FOOTER.JOIN_THE_COMMUNITY %></h4>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-4 text-center">
                    <a target="_blank" href="<%= config.stringsDict.FOOTER.FACEBOOK_LINK %>">
                        <img src="<%= config.imagesDict.facebookLogo %>">
                    </a>
                </div>
                <div class="col-xs-4 text-center">
                    <a target="_blank" href="<%= config.stringsDict.FOOTER.TWITTER_LINK %>">
                        <img src="<%= config.imagesDict.twitterLogo %>">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>