#profile-nav-menu {

    .panel-heading {
        background-color: transparent;
    }

    .panel-body {
        padding: 30px 0;

        .btn-user-profile-nav {
            margin-top: 15px;
            margin-bottom: 15px;

            &, &:hover {
                box-shadow: 0 4px 3px #e7e7e7;
            }
            &.active {
                background-color: #1caff5;
                color: white;
                font-weight: normal;
            }
        }

    }

}
