#profile-nav-menu {

  h3 {
    text-align: center;
  }

  nav {
    margin-top: 30px;

    button {
      margin-bottom: 30px;

      &, &:hover {
        box-shadow: 0 4px 3px #e7e7e7;
      }
      &.selected {
         background-color:#1caff5;
         color: white;
         font-weight: 400;
       }
    }

  }

}
