#user-profile {

  margin-top: 60px;

  .right{
    margin-left: 22px;

    @media (max-width: 991px) {
      margin-top: 15px;
      margin-left: 0;
    }
  }

  .border_radius{
    border-radius: 12px;
    background-color: white;
  }

  /* ----- Modifications Bootstrap ----- */

  .btn-primary{
    color: #2f2d2e;
    background-color: #f7f5f5;
    border-color: #f7f5f5;
    border-radius: 5px;
    width: 200px;
    font-weight: 600;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1caff5;
    border-color: #1caff5;
    border-radius: 5px;
  }

  .btn{
    display: block;
    margin-bottom: 30px;
  }

  h2,
  .h2 {
    font-size: 20px;
    font-weight: bold;
    color: #5e5e5e;
  }

  h3,
  .h3 {
    font-size: 18px;
    font-weight: 600;
    color: #7f7e7e;
    padding-top: 20px;
  }

  label {
    margin: 0 0 30px 90px;
  }

  input,
  button,
  select,
  textarea {
    background: #fafafb;
  }

  /* ----- Modif Bootstrap Media Queries */

  @media (min-width: 1200px){
    .col-lg-3 {
      width: 23%;
      text-align: right;
    }
  }

  @media (min-width: 992px){
    .col-md-9 {
      width: 72%;
    }
  }

  @media (min-width: 768px){
    .col-sm-8 {
      width: 63%;
    }
  }
}