#user-profile {

  margin-top: 60px;

  .right{
    margin-left: 22px;

    @media (max-width: 991px) {
      margin-top: 15px;
      margin-left: 0;
    }
  }

  .border_radius{
    border-radius: 12px;
    background-color: white;
  }


  /* ----- "Save" Button ----- */

  .save_modification {
    color: #ffffff;
    background-color: #9bbe16;
    border-radius: 5px;
    width: 225px;
    height: 32px;
    margin: 5px 0 20px 20px;
  }

  .save_modification:hover{
    color: #ffffff;
    background-color: #bce51f;
    border-radius: 5px;
    width: 225px;
    height: 32px;
    margin: 5px 0 20px 20px;
  }

  .save-result {
    display: inline-block;
    margin: 0 0 30px 0;
    padding-right: 110px;
    //&.success {
    //  color: #BCE520;
    //}
    &.fail {
      color: #E53720;
    }
  }

  /* ----- Modifications Bootstrap ----- */

  .btn-primary{
    color: #2f2d2e;
    background-color: #f7f5f5;
    border-color: #f7f5f5;
    border-radius: 5px;
    width: 200px;
    font-weight: 600;
  }

  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1caff5;
    border-color: #1caff5;
    border-radius: 5px;
  }

  .btn{
    display: block;
    margin-bottom: 30px;
  }

  h2,
  .h2 {
    font-size: 20px;
    font-weight: bold;
    color: #5e5e5e;
  }

  h3,
  .h3 {
    font-size: 18px;
    font-weight: 600;
    color: #7f7e7e;
    padding-top: 20px;
  }

  label {
    margin: 0 0 30px 90px;
  }

  input,
  button,
  select,
  textarea {
    background: #fafafb;
  }

  /* ----- Modif Bootstrap Media Queries */

  @media (min-width: 1200px){
    .col-lg-3 {
      width: 23%;
      text-align: right;
    }
  }

  @media (min-width: 992px){
    .col-md-9 {
      width: 72%;
    }
  }

  @media (min-width: 768px){
    .col-sm-8 {
      width: 63%;
    }
  }

  @media all and (min-width: 992px) and (max-width: 1199px) {
    .save_modification {
      margin: 0 0 20px 0;
    }

    .save_modification:hover {
      margin: 0 0 20px 0;
    }

    .save-result {
      margin: 0 0 30px;
      padding-right: 30px;
    }
  }

  @media screen and (max-width: 991px) {

    .save_modification {
      margin: 10px 0 30px 190px;
    }

    .save_modification:hover {
      margin: 10px 0 30px 190px;
    }

    .save-result {
      //margin: 0 0 30px 190px;
      padding-right: 0;
    }
  }

  @media (max-width: 768px) {

    .save_modification {
      margin: 10px auto 15px auto;
    }

    .save_modification:hover {
      margin: 10px auto 15px auto;
    }
    .save-result {
      margin: 10px auto 30px auto;
    }
  }
}