#track-list-container {
  margin-top: 30px;
}

.track-thumbnail {

  background-color: white;
  padding: 0px;
  border-radius: 10px;
  position: relative;
  color: #39637c;
  margin-bottom: 20px;

  .hierarchy-title {

    text-align: center;
    height: 5.0em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;

    h3 {
      font-size: 1.5em;
      font-weight: 600;
      margin: 0px;
      color: #39637c;
    }

  }

  .hierarchy-text {
    text-align: center;
    font-weight: 400;
    font-size: 1.25em;

    .media-left {
      padding: 10px 0 10px 20px;
      height: 120px;
      img {
        height: 100%;
      }
    }

    a {
      border-width: 3px;
      border-color: #1caef7;
      border-radius: 25px;
      width: 80%;
      font-size: 1.1em;
      margin: 5px auto 20px auto;
    }
    a.start {
      color: #39637c;
      background-color: white;
      font-weight: 600;
    }

  }

}
