.modal-content.prompt-track-validation {
  border: solid 2px #f7d63b;

  .modal-header {
    min-height: 20px;
    border-bottom: none;
    button.close {
      vertical-align: middle;
    }
  }

  .modal-body {
    .prompt-details-header {
      margin: 0 auto 30px;
      text-align: center;
      h1 {
        width: 400px;
        margin: 0 auto;
        text-align: center;
        padding: 8px;
        color: #656565;
        border-bottom: solid 1px #ECECEC;
      }
    }

    .prompt-details-text {
      margin: auto 60px;
      text-align: center;
      h1 {
        font-weight: 700;
      }
      h2 {
        font-weight: 600;
      }
      p {
        font-weight: 400;
      }
    }
    a.btn-validate-track {
      width: 500px;
      margin: 35px auto;
    }
  }

  @media (max-height: 719px) {
    .prompt-details-header {
      h1 {
        font-size: 1.2em;
      }
    }

    .prompt-details-text {
      h1 {
        font-size: 1.0em;
      }
      h2 {
        font-size: 0.9em;
      }
      p {
        font-size: 0.8em;
        line-height: 1.5em;
      }
    }

    .track-icon {
      img {
        margin: 0px auto;
        height: 80px;
      }
    }
  }

  @media (min-height: 720px) {
    .prompt-details-header {
      h1 {
        font-size: 1.4em;
      }
    }

    .prompt-details-text {
      h1 {
        font-size: 1.2em;
      }
      h2 {
        font-size: 1.0em;
      }
      p {
        font-size: 0.9em;
        line-height: 1.6em;
      }
    }

    .track-icon {
      img {
        margin: 15px auto;
        height: 100px;
      }
    }
  }

  @media (min-height: 900px) {
    .prompt-details-header {
      h1 {
        font-size: 1.6em;
      }
    }

    .prompt-details-text {
      h1 {
        font-size: 1.4em;
      }
      h2 {
        font-size: 1.2em;
      }
      p {
        font-size: 1.0em;
        line-height: 1.8em;
      }
    }

    .track-icon {
      img {
        margin: 20px auto;
        height: 120px;
      }
    }
  }

  @media (max-width: 991px) {
    width: 700px;
    margin: 0 auto;

    a.btn-validate-track {
      width: 300px;
      margin: 20px auto;
      padding: 10px 0;
    }
  }

  @media (max-width: 768px) {
    width: auto !important;
    font-size: 97%;

    .modal-body {
      .prompt-details-header h1 {
        width: 250px;
      }
      .prompt-details-text {
        margin: 0 20px;
      }
    }
  }
}